<div ng-controller="OrdersController as oCtrl">
  <div>
    <div>
      <!-- ACCIONES BUTTON -->
      <!-- New order -->
      <!-- Filter by day -->
    </div>
    <div>
      <!-- LISTA -->
      <!-- Orders list -->
    </div>
  </div>
  <div>
    <div>
      <!-- ACCIONES BUTTON -->
      <!-- Abrir caja -->
      <!-- Comanda -->
      <!-- Recibo -->
    </div>
    <div>
      <!-- Order details -->
      <div>
         <!-- GRID -->
        <!-- Products grid (+/-) -->
      </div>
      <div>
        <div>
          <!-- LIST -->
          <!--FECHA -->
          <!--SUBTOTAL -->
          <!--PROPINA SUGERIDA -->
          <!--TOTAL -->
        </div>
        <div>
          <!-- LIST -->
          <!-- Medios de pago (Monto y medio de pago) -->
          <!-- Cuando el monto excede el total se va a propinas -->
        </div>
      </div>
    </div>
  </div>
</div>